@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('/fonts/LinLibertine_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}